<!-- Componente PortadaEscuela.html -->
<section class="relative w-full h-screen bg-cover bg-center bg-[url(assets/portada.png)]">
  <!-- Cajas de texto centradas -->
  <div class="absolute inset-0 flex items-center justify-center px-4 w-full">
    <div class="flex flex-col md:flex-row justify-center items-center gap-10 w-full max-w-screen-xl">

      <!-- Bloque Izquierdo -->
      <div class="bg-[#222831B3] text-white p-6 rounded-md w-full max-w-2xl hover:scale-[1.05]">
        <pre class="whitespace-pre-wrap text-sm sm:text-base text-white ">Ser una institución educativa reconocida por formar estudiantes íntegros, con pensamiento crítico, valores sólidos y compromiso con su comunidad, preparados para enfrentar los desafíos del mundo actual y contribuir a la construcción de una sociedad más justa y equitativa.
        </pre>
      </div>

      <!-- Bloque Derecho -->
      <div class="bg-[#222831B3] text-white p-6 rounded-md w-full max-w-2xl hover:scale-[1.05]">
        <pre class="whitespace-pre-wrap text-sm sm:text-base text-white">
Brindar una educación de calidad que promueva el desarrollo académico, personal y social de nuestros estudiantes, a través de una enseñanza inclusiva, innovadora y centrada en valores humanos, fomentando la participación activa de la familia y la comunidad educativa.
        </pre>
      </div>

    </div>
  </div>
</section>
